<header>
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo.png" alt="Mytri Engineering Services">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="industries.html">Industries</a></li>
                <li><a href="projects.html">Projects</a></li>
            </ul>
        </nav>
        <a href="contact.html" class="btn btn-primary">Request Service</a>
    </div>
</header>
